.main-container {
    text-align: center;
    background-color: #6200EE;
    min-height: 100vh;
}

.light {
    background-color: #fff;
    color: #000
}

.light button {
    background-color: #f0f0f0;
    color: #000;
}

.dark {
    background-color: #000;
    color: #fff
}

.dark button {
    background-color: #666;
    color: #fff;
}