.main-container {
    text-align: center;
    height: 100vw;
    background-color: #6200EE;
}

.light {
    background-color: #6200EE;
}

.light button {
    background-color: #0ec8e7;
}

.dark {
    background-color: black;
}

.dark button {
    background-color: white;
    color: black;
}