.calculator-container {
    width: 80vw;
    margin: auto;
    padding-top: 100px;
}

.user-display {
    background-color: azure;
    height: 50px;
    margin: 5px;
    vertical-align: middle;
    padding-top: 25px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    font-size: 20px;
}

.button-grid {
    height: 300px;
    display: grid;
    grid-column-gap: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}